{% extends 'VectorfaceBacklogBundle::base.html.twig' %}

{% block content%}

<div class="row">
    <div class="span12">
        <table class="table-tickets table table-striped" id="sortable">
            <thead>
                <tr>
                    <th></th>
                    <th>#</th>
                    <th>Title</th>
                    <th>Milestone</th>
                    <th>Project</th>
                    <th>Assigned To</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                {% for backlog in backlogs %}
                <tr data-ixBug="{{ backlog.ixBug }}">
                    <td><i class="icon-list draggable"></i></td>
                    <td>{{ backlog.ixBug }}</td>
                    <td><a href="{{ fogbugz_url_ticket }}{{ backlog.ixBug }}" target="_blank">{{ backlog.sTitle }}</a></td>
                    <td>
                        {% if backlog.sFixFor == 'Undecided' %}
                        <div class="muted">Undecided</div>
                        {% else %}
                        {{ backlog.sFixFor }}
                        {% endif %}
                    </td>
                    <td>{{ backlog.sProject }}</td>
                    <td>
                        {% if backlog.sPersonAssignedTo == 'Unassigned' %}
                        <div class="muted">Unassigned</div>
                        {% else %}
                        {{ backlog.sPersonAssignedTo }}
                        {% endif %}
                    </td>
                    <td>
                        <div class="btn-group pull-right">
                            <a class="btn btn-danger trigger-modal-delete" href="#"><i class="icon-trash"></i></a>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}