{% extends 'VectorfaceBacklogBundle:Default:layout.html.twig' %}

{% block content%}

<div class="row">
    <div class="span12">
        <table class="table-tickets table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Milestone</th>
                    <th>Project</th>
                    <th>Assigned To</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                {% for backlog in backlogs %}
                <tr data-ixBug="{{ backlog.ixBug }}" data-position="{{ loop.index-1 }}">
                    <td>{{ backlog.ixBug }}</td>
                    <td><a href="{{ fogbugz_url_ticket }}{{ backlog.ixBug }}">{{ backlog.sTitle }}</a></td>
                    <td>
                        {% if backlog.sFixFor == 'Undecided' %}
                        <div class="muted">Undecided</div>
                        {% else %}
                        {{ backlog.sFixFor }}
                        {% endif %}
                    </td>
                    <td>{{ backlog.sProject }}</td>
                    <td>{{ backlog.sPersonAssignedTo }}</td>
                    <td>
                        <div class="btn-group pull-right">
                            <a class="btn arrow-up" href="#"><i class="icon-arrow-up"></i></a>
                            <a class="btn arrow-down" href="#"><i class="icon-arrow-down"></i></a>
                            <a class="btn btn-danger trigger-modal-delete" href="#"><i class="icon-trash"></i></a>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>

{% endblock %}