<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>{% block title %}Backlogs{% endblock %}</title>
    {% block stylesheets %}
    <link href="{{ asset('bundles/vectorfacebacklog/css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/vectorfacebacklog/css/bootstrap-responsive.min.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/vectorfacebacklog/css/bootstrap-override.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/vectorfacebacklog/css/ui-lightness/jquery-ui-1.10.3.custom.min.css') }}" rel="stylesheet">
    {% endblock %}
</head>
<body>


    <div id="deleteModal" class="modal hide fade" tabindex="-1" role="dialog">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Delete this entry?</h3>
        </div>
        <div class="modal-body">
            <div class="alert alert-error">Removing this entry will <b>not</b> remove it from Fogbugz. Are you sure?</div>
        </div>
        <div class="modal-footer">
            <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
            <button class="btn btn-danger trigger-delete" data-ixBug="">Delete</button>
        </div>
    </div>

    <div class="navbar navbar-fixed-top">
        <div class="navbar-inner">
            <div class="container">
                <div class="row">
                    <div class="span2">
                        <span class="brand"><a href="{{ path('vectorface_backlog_main') }}">Backlogs</a></span>
                    </div>
                    <ul class="nav pull-right">
                      <li>
                         <form class="navbar-search">
                             <input type="text" class="search-ticket search-query" autofocus="autofocus" placeholder="Add to backlog">
                         </form>
                     </li>
                     <li class="divider-vertical"></li>
                     <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b class="caret"></b></a>
                        <ul class="dropdown-menu">
                          <li class="disabled"><a href="#">Force Sync</a></li>
                          <li class="disabled"><a href="#">Monitor</a></li>
                          <li class="divider"></li>
                          <li><a href="https://github.com/Vectorface/fogbugz-global-backlog/issues">Suggest Feature</a></li>
                      </ul>
                  </li>
              </ul>
          </div>
      </div>
  </div>
</div>

<div class="container">
    {% block content %}{% endblock %}
</div>

{% block javascripts %}
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.0/jquery.min.js"></script>
<script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
<script src="{{ asset('bundles/vectorfacebacklog/js/bootstrap.min.js') }}" type="text/javascript" /></script>
<script src="{{ asset('bundles/vectorfacebacklog/js/arrows.js') }}" type="text/javascript" /></script>
<script src="{{ asset('bundles/vectorfacebacklog/js/search-tickets.js') }}" type="text/javascript" /></script>
<script src="{{ asset('bundles/vectorfacebacklog/js/delete.js') }}" type="text/javascript" /></script>
<script src="{{ asset('bundles/vectorfacebacklog/js/tooltip.js') }}" type="text/javascript" /></script>
{% endblock %}

</body>
</html>